<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Omikron\FactfinderNG\Api\Config\NGCommunicationConfigInterface" type="Omikron\FactfinderNG\Model\Config\CommunicationConfig" />
    <preference for="Omikron\Factfinder\Api\ClientInterface" type="Omikron\FactfinderNG\Model\Client" />

    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="ff.ng.asset.minification" type="Omikron\FactfinderNG\Plugin\AssetMinificationPlugin" />
    </type>
    <type name="Omikron\Factfinder\Model\Api\Tracking">
        <plugin name="ff.modify.tracking" type="Omikron\FactfinderNG\Plugin\Api\Tracking" />
    </type>
    <type name="Omikron\Factfinder\Model\Api\PushImport">
        <plugin name="ff.modify.import" type="Omikron\FactfinderNG\Plugin\Api\PushImport" />
    </type>
    <type name="Omikron\Factfinder\Model\Api\UpdateFieldRoles">
        <plugin name="ff.modify.update_field_roles" type="Omikron\FactfinderNG\Plugin\Api\UpdateFieldRoles" />
    </type>
    <type name="Omikron\FactfinderNG\Model\Client">
        <arguments>
            <argument name="clientFactory" xsi:type="object">Omikron\FactfinderNG\HTTP\ClientFactory</argument>
        </arguments>
    </type>

    <virtualType name="Omikron\FactfinderNG\HTTP\ClientFactory" type="Magento\Framework\HTTP\ClientFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Omikron\FactfinderNG\Model\HTTP\Client\Curl</argument>
        </arguments>
    </virtualType>
    <type name="Omikron\FactfinderNG\ViewModel\CategoryPath">
        <arguments>
            <argument name="initial" xsi:type="array">
                <item name="navigation" xsi:type="string">navigation=true</item>
            </argument>
        </arguments>
    </type>
</config>
